@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$fontMain: "Roboto", sans-serif;
$textShadow: 0 50px 30px rgba(64, 72, 90, 0.3);
$webColor: #4ba9ff;
$titleColor: #40485a;
$descriptionColor: #6a707d;
$lineColor: #4a24a8;
$linkColor: #4ca9ff;
$payColor: #cfd2ff;
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: $fontMain;
}
// Grid
.row {
  margin-left: -30px;
  margin-right: -30px;
}

.row::before,
.row::after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}
.col {
  padding-left: 30px;
  padding-right: 30px;

  float: left;
}
.col-25 {
  width: 25%;
}
.col-33 {
  width: 33%;
}
.col-40 {
  width: 40%;
}
.col-60 {
  width: 60%;
}
// Container
.container {
  width: 100%;
  max-width: 1170px;

  margin-left: auto;
  margin-right: auto;
}
// Header
.header {
  position: absolute;
  padding-top: 30px;
  width: 100%;

  z-index: 10;
}
// Navigation
.nav {
  float: right;
  a {
    color: white;
    text-decoration: none;
  }
}
// Presentation
.presentation {
  background-image: url(../image/bg_presentation.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
.presentation-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 815px;
  margin: 0 auto;
  text-align: center;
  h1 {
    text-shadow: $textShadow;
    color: white;
    font-size: 90px;
    font-weight: 300;
    span {
      color: $webColor;
    }
  }
}
// About Us
.about_us {
  padding: 100px 0;
}
.about_us-title {
  padding-top: 10px;
  position: relative;
  font-size: 48px;
  font-weight: 300;
  color: $titleColor;
}
.about_us-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 3px;
  bottom: 0;
  margin-bottom: -40px;
  background-color: $lineColor;
}

.about_us-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: $descriptionColor;
  width: 100%;
  max-width: 670px;
}
// Photo
.photo {
  img {
    display: block;
  }
}
// Work
.work {
  margin: 90px auto;
}
.work-title {
  position: relative;
  font-size: 48px;
  font-weight: 300;
  color: $titleColor;
  text-align: center;
}
.work-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 3px;
  bottom: 0;
  margin-bottom: -40px;
  background-color: $lineColor;
  left: 50%;
  margin-left: -43px;
}
.work-card {
  margin-top: 65px;
  padding: 50px 55px 60px;
  width: 100%;
  max-width: 370px;
  float: left;
  text-align: center;
  img {
    margin-bottom: 45px;
  }
  h3 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $titleColor;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: $descriptionColor;
  }
}
.work-card:hover {
  box-shadow: 0 30px 60px rgba(64, 72, 90, 0.15);
}
.work-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  a {
    position: relative;
    color: $linkColor;
    text-decoration: none;
  }
  a:hover {
    content: "";
    position: absolute;
    display: block;
    width: 105px;
    height: 2px;

    background-color: $linkColor;

    left: 50%;
    margin-left: -30px;
  }
}
// Mobile App
.mobile_app {
  background-image: url(../image/bg_mobile_app.png);
}
.pay-card {
  padding-top: 130px;
  width: 100%;
  max-width: 570px;
  h3 {
    font-size: 62px;
    font-weight: 300;
    color: white;
    span {
      color: $webColor;
    }
  }
  p {
    margin-bottom: 70px;
    color: $payColor;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  button {
    margin-bottom: 130px;
    padding: 17px 30px;
    box-shadow: 0 30px 30px rgba(76, 169, 255, 0.3);
    border-radius: 23px;
    border: none;
    background-color: $linkColor;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
  }
}
.mobile-card {
  position: relative;
  margin-top: 90px;
  width: 100%;
  max-width: 470px;
  height: 100vh;
  max-height: 375px;
}
.mobile-1 .mobile-2 {
  position: absolute;
}
.mobile-1 {
  margin-left: -45px;
}
.mobile-2 {
  margin-left: 70px;
}
// Group
.group {
  margin-bottom: 40px;
  // &::before {
  //   content: "";
  //   display: block;
  //   width: 100%;
  //   height: 1px;

  //   background-color: white;
  //   opacity: 0;

  //   position: absolute;
  //   top: 100%;
  //   left: 0%;
  //   z-index: 2;

  //   transition: opacity 0.1s linear;
  // }

  span {
    margin-bottom: 11px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: $payColor;
  }
  h3 {
    padding-right: 50px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: white;
  }
}
// Footer
.footer {
  background-image: url(../image/bg_mobile_app.png);
  background-repeat: no-repeat;
  background-size: cover;
}
